version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - run:
         name: Greeting
         command: echo Hello, World!
      - run:
         name: Print the current time
         command: date
